<%-include("./includes/header")%>
<!---->
<%-include("./includes/nav")%>
<div class="blogs-wrapper">
  <%if(blogs.length > 0){ %>
    <%blogs.forEach(blog=>{ %>
      <div class="blog-card">
        <a href=""><h2><%=blog.title%></h2></a>
        <span><%=blog.date%></p>
        <div class="tags">
          <a href=""><%=blog.tag%></a>
        </div>
        <div class="content">
          <p><%=blog.content%></p>
        </div>
      </div>
    <% })%>
  <% }else{%>
    <h1>No Blogs Found</h1>
  <%}%>

<!-- Search Section-->
<%-include("./includes/footer")%>
